spring.datasource.url=jdbc:h2:file:./data/translations
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=<your_password_here>
spring.h2.console.enabled=true
spring.sql.init.mode=always

translator.yandex.api_url=https://translate.api.cloud.yandex.net/translate/
translator.yandex.api_version=2
translator.yandex.api_method=translate
translator.yandex.request_method=POST
translator.yandex.api_key=<your_api_key_here>
translator.yandex.api_folder_id=<your_api_folder_id_here>
translator.yandex.api_hits_per_second=20

translation_service.async.thread_pool_size=10